.project-container { 
    height: 60vh;
    display: flex;
}

.project-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 2em;
}

.project-item {
    padding: 1em 0;
}

.project-image-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.project-image { 
    width: 100%;
    height: 40%;
}

.c {
    width:45%;
    height: auto;
    margin: 20px 10px;
    border: 2px solid #eee;
    border-radius: 10px 10px 0 0;
}

.c-browser { 
    background-color: #eee;
    display: flex;
    align-items: center;
    z-index: 2;
}

.c-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: white;
}

.red {
    background-color: red;
}

.yellow{
    background-color: orange;
}

.green {
    background-color: green;
}

.c-img {
    width: 100%;
}

@media screen and (max-width: 460px) {
    .c {
        width: 100%;
        margin: 10px 0px;
        padding: 10px;
        height: 400px;
    }
    .project-container {
        flex-direction: column;
    }
    
    .project-image {
        width: 100%;
    }

    .c-browser {
        width: 100%;
        height: 20px;
    }

    .project-text-container {
        text-align: center;
        justify-content: center;
        display: flex;
        margin: 0;
        padding:0;
        width: 100%;
    }

    .project-title {
        text-align: center;
        
    }
}